<ion-content padding class="background" mode="ios">

    <div class="container ion-text-center">
        <img src="../assets/img/personaje.png">
        <div class="container-button-fb" (click)="loginFacebook()">
            <ion-button expand="block" fill="outline" color="light">Iniciar con facebook</ion-button>
        </div>
        <div class="container-button" (click)="loginGuest()">
            <ion-button expand="block" fill="outline" color="light">Iniciar como invitado</ion-button>
        </div>
    </div>


</ion-content>