.card-title {
    font-size: .83rem !important;
    font-family: 'GilroyExtraBold';
}

.card-date {
    font-size: 0.63rem !important;
    line-height: 11pt;
    font-weight: bold;
    font-style: italic;
    margin-top: -4px;
}

.card-address {
    font-size: .75rem !important;
    line-height: 9pt;
}

.card-status-recibida {
    font-size: 0.8rem !important;
    color: #5c90bd !important;
    position: absolute;
    bottom: 0px !important;
    right: 0px;
    background-color: #dbe9ff;
    border-radius: 9px;
    padding: 0px 6px;
    width: 85px;
    text-align: center;
}

.card-status-proceso {
    font-size: 0.8rem !important;
    color: #bd9b5c !important;
    position: absolute;
    bottom: 0px !important;
    right: 0px;
    background-color: #fff1db;
    border-radius: 9px;
    padding: 0px 6px;
    width: 85px;
    text-align: center;
}

.card-status-demora {
    font-size: 0.8rem !important;
    color: #bd5c5c !important;
    position: absolute;
    bottom: 0px !important;
    right: 0px;
    background-color: #ffdbde;
    border-radius: 9px;
    padding: 0px 6px;
    width: 85px;
    text-align: center;
}

.card-status-finalizada {
    font-size: 0.8rem !important;
    color: #5cbd68 !important;
    position: absolute;
    bottom: 0px !important;
    right: 0px;
    background-color: #dcffdb;
    border-radius: 9px;
    padding: 0px 6px;
    width: 85px;
    text-align: center;
}

.card-status-cancelada {
    font-size: 0.8rem !important;
    color: #868686 !important;
    position: absolute;
    bottom: 0px !important;
    right: 0px;
    background-color: #adabab87;
    border-radius: 9px;
    padding: 0px 6px;
    width: 85px;
    text-align: center;
}

ion-avatar img {
    border-radius: 5%;
}

.image-work {
    border-radius: 5%;
    width: 80px;
    height: 80px;
    // background-color: red;
    /* Full height */
    // height: 100%; 
    /* Imagen centrada y colocada de forma elegante */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aligname {
    display: inline-block;
    vertical-align: top;
}

.aligname {
    display: inline-block;
    vertical-align: top;
}