<ion-card style="box-shadow: none !important;">
    <ion-list class="ion-no-padding">
        <ion-item class="ion-no-padding">
            <ion-col size="4" style="padding-bottom: 1px;">
                <!-- <img class="border-radius image-work" [style.background-image]=" service.Photo | domSanitizer"> -->
            </ion-col>
            <ion-col size="8">
                <ion-label style="height:75px; margin-left: -15px;">
                    <div class="align">
                        <p class="card-title"> {{product.Name}}</p>
                    </div>
                    <!-- <p class="card-date ion-text-wrap ion-text-capitalize">{{ service.Day | date:'fullDate'}} {{service.RequestTime}}</p>
                    <p class="card-address ion-text-wrap ion-text-capitalize">{{ service.Address }} #{{ service.AddressNumber }}</p>
                    <p class="card-address ion-text-wrap ion-text-capitalize">{{ service.AddressSuburb }}</p>

                    <p *ngIf="service.Status == 'Recibida'" class="card-status-recibida">{{service.Status}}</p>
                    <p *ngIf="service.Status == 'Proceso'" class="card-status-proceso">{{service.Status}}</p>
                    <p *ngIf="service.Status == 'Demora'" class="card-status-demora">{{service.Status}}</p>
                    <p *ngIf="service.Status == 'Finalizada'" class="card-status-finalizada">{{service.Status}}</p>
                    <p *ngIf="service.Status == 'Cancelada'" class="card-status-cancelada">{{service.Status}}</p>-->
                </ion-label>
            </ion-col>
        </ion-item>
    </ion-list>
</ion-card>