<ion-content color="light" mode="ios">

    <ion-header>
        <ion-grid class="grid-container">
            <ion-row justify-content-around>
                <ion-col size="2" class="ion-text-left" (click)="closeModal()">
                    <ion-icon color="light" name="chevron-back-outline" class="header-icons"></ion-icon>
                </ion-col>
                <ion-col size="8" class="ion-text-center col-category-name">
                    <label class="header-category-name"></label>
                </ion-col>
                <ion-col size="2" class="ion-text-right" (click)="goToCart()">

                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-header>



    <ion-grid class="grid-container" style="margin-top: 10%;">
    </ion-grid>



    <ion-card style="box-shadow: none !important;">
        <ion-row class="ion-no-padding">
            <ion-col size="12">
                <ion-label>
                    <div class="align">
                        <p class="delivery-address-name"> Tarjeta de pago</p>
                    </div>
                </ion-label>
            </ion-col>
        </ion-row>

        <ion-row justify-content-around>
            <ion-col size="12">
                <ion-label class="form-label-text">Tarjeta</ion-label>
                <ion-input [(ngModel)]="customerCardNumber" placeholder="No. de la tarjeta" clearInput></ion-input>
            </ion-col>
            <ion-col size="6">
                <ion-label class="form-label-text">Mes</ion-label>
                <ion-input [(ngModel)]="customerCardNumberMonth" placeholder="Mes" clearInput></ion-input>
            </ion-col>
            <ion-col size="6">
                <ion-label class="form-label-text">Año</ion-label>
                <ion-input [(ngModel)]="customerCardNumberYear" placeholder="Año" clearInput></ion-input>
            </ion-col>
            <ion-col size="12">
                <ion-label class="form-label-text">Nombre</ion-label>
                <ion-input [(ngModel)]="customerCardNumberName" placeholder="Nombre en la tarjeta" clearInput></ion-input>
            </ion-col>
        </ion-row>
    </ion-card>


    <ion-card style="box-shadow: none !important;">
        <ion-list class="ion-no-padding">
            <ion-row class="ion-no-padding">
                <ion-col size="12">
                    <ion-label>
                        <div class="align">
                            <p class="delivery-address-name"> Datos de entrega</p>
                        </div>
                    </ion-label>
                </ion-col>
            </ion-row>

            <ion-row class="ion-no-padding">
                <ion-col size="6">
                    <ion-label>
                        <p class="delivery-address-text ion-text-wrap ion-text-capitalize">Alan Ramirez Lugo</p>
                        <p class="delivery-address-text  ion-text-wrap ion-text-capitalize">6141656220</p>
                    </ion-label>
                </ion-col>
                <ion-col size="6">
                    <ion-label>
                        <p class="delivery-address-text ion-text-wrap ion-text-capitalize">Rep. de venezuela #20</p>
                        <p class="delivery-address-text  ion-text-wrap ion-text-capitalize">Col. CTM c.p 31500</p>
                        <p class="delivery-address-text  ion-text-wrap ion-text-capitalize">Cuauhtémoc Chihuahua</p>
                    </ion-label>
                </ion-col>
                <ion-col size="12">
                    <ion-label>
                        <p class="delivery-address-text ion-text-wrap ion-text-capitalize">Casa color amarillo, con lona de cabina fotogrfica en el exterior</p>
                    </ion-label>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-card>





    <ion-card style="box-shadow: none !important;">
        <!--(click)="showDetails(work)"-->

        <ion-row class="ion-no-padding">
            <ion-col size="12">
                <ion-label>
                    <div class="align">
                        <p class="delivery-address-name"> Productos</p>
                    </div>
                </ion-label>
            </ion-col>
        </ion-row>


        <ion-list class="ion-no-padding">

            <ion-item class="ion-no-padding" *ngFor="let product of orderProductsArray">
                <ion-col size="6" class="ion-no-margin">
                    <ion-grid class="ion-no-padding ion-no-margin">
                        <ion-row>
                            <ion-col size="12" class="ion-text-left">
                                <div class="align">
                                    <p class="product-name ion-text-nowrap">{{product.Name}}</p>
                                    <p class="card-date ion-text-wrap ion-text-capitalize">${{product.Price}} x {{product.Unit}}</p>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>
                <ion-col size="3" class="ion-no-margin">
                    <label class="single-product-qty">{{product.Qty}}{{product.Unit}}</label>
                </ion-col>
                <ion-col size="3" class="ion-text-center ion-no-margin">
                    <label class="single-product-total-price">${{product.Total}}</label>
                </ion-col>
            </ion-item>



        </ion-list>
    </ion-card>














</ion-content>


<ion-footer no-border color="light" mode="ios">






    <ion-grid class="ion-no-padding ion-no-margin">
        <div class="pay-total-amount-card">
            <ion-row>
                <ion-col class="ion-text-center">
                    <ion-row class="product-qty-cart">
                        <ion-col>
                            <h5 style="margin-top: 8px;">Total:</h5>
                            <h1 style="margin-bottom: 0px;">${{totalOrderPrice}}</h1>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button class="pay-button" [disabled]="totalOrderPrice <= 0" (click)="goToPay()">Pagar</ion-button>
                </ion-col>
            </ion-row>
        </div>

    </ion-grid>
</ion-footer>